* {
  padding: 0;
  margin: 0;
}

header {
  .first {
    border: 1px solid rebeccapurple;
    height: 10vh;
    width: 90vw;
    margin-top: 10px;
  }
}

.second {
  height: 12vh;
  width: 70vw;
  box-shadow: -4px 3px 5px 0px rgb(110, 106, 110);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.second_div {
  width: 66vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second_div a {
  text-decoration: none;
  color: black;
}

.where {
  width: 22vw;
  border-right: 1px solid black;
}

.where h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.where input {
  border: none;
  outline: none;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}

.checkin {
  width: 11vw;
  border-right: 1px solid black;
  padding-left: 10px;
}

.checkin h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.checkin p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}

.checkout {
  width: 11vw;
  border-right: 1px solid black;
  padding-left: 10px;
}

.checkout h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.checkout p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}

.whoSearch {
  width: 22vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.whoSearch h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.whoSearch p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}

.who {
  width: 80%;
  padding-left: 10px;
}

.whoSearch i {
  width: 20%;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
  color: white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .section {
  align-items: center;
  justify-content: space-between;
} */
.fav-group {
  /* border: 1px solid black; */
  width: 95%;
  height: 73vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}
.guest-favs {
  width: 23%;
  height: 93%;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
}
.praesentium {
  width: 98%;
  height: 75%;
  display: flex;
  direction: ltr;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* border: 1px solid black; */
  background-image: url(./image/part3\ pics1.jpg);
  
}
.button {
  color: black;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 30px;
  width: 49%;
  height: 10%;
  font-weight: bold;
  margin-top: -20vw;
  margin-left: 20px;
}
.praesentium i {
  margin-top: -20vw;
  font-size: x-large;
  margin-right: 20px;
  color: white
}
/* .carret {
  color: red;
  float: left;
  align-items: flex-end;
  padding-left: 10vw;

} */
.praesentium_2 i {
  margin-top: -20vw;
  font-size: x-large;
  margin-right: 20px;
  color: white
  
  
}
.praesentium_3 i {
  margin-top: -20vw;
  font-size: x-large;
  margin-right: 20px;
  color: white
  
  
}
.praesentium_4 i {
  margin-top: -20vw;
  font-size: x-large;
  margin-right: 20px;
  color: white
  
  
}
.write_up {
  margin-top: 10px;
  width: 98%;
  height: 25%;
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  background-color: white;
}

.t1 {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: rgb(43, 41, 41);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-size: 16px;
  overflow: hidden;
}
.t1 i {
  font-size: 16px;
  margin-right: -0px;
  color: black;
}
.t2 {
  color: gray;
}
.t3 {
  color: rgb(39, 38, 38);
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 5vw;
  height: 4vh;
  font-size: 18px;
  /* border: 1px solid black; */
  font-family: Arial, Helvetica, sans-serif;
}
.t3 b {
  font-size: medium;

}
.praesentium_2 {
  width: 98%;
  height: 75%;
  display: flex;
  direction: ltr;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* border: 1px solid black; */
  background-image: url(./image/airnb2\ 4.webp);


}
.praesentium_3 {
  width: 98%;
  height: 75%;
  display: flex;
  direction: ltr;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* border: 1px solid black; */
  background-image: url(./image/airnb\ 2\ 1.webp);


}
.praesentium_4 {
  width: 98%;
  height: 75%;
  display: flex;
  direction: ltr;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* border: 1px solid black; */
  background-image: url(./image/airnb\ 2\ 3.webp);


}